# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows / macOS
desktop.ini
.DS_Store

# Datos crudos (no versionar, ver README para descargarlos)
data/raw/